@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(50, 51, 51);
    color: white;
    font-family: 'Montserrat Semibold', sans-serif;
}

h1 {
    color: #586ff0;
    text-align: center;
}

.container{
    width: 700px;
    margin: 0 auto;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 18px;
    margin-bottom: 5px;
}

.form-group input,
.form-group button {
    background: #1A1A1A;
    height: 30px;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
    transition: border-color 0.3s ease-in;
    color: white;
    font-size: 14px;
    padding: 0 15px;
} 

.form-group input:focus{
  border-color: #586ff0;
}

.form-group button {
    background-image: linear-gradient(-90deg, #1d1d4e 0%, #586ff0 100%);
    color: white;
    font-size: 16px;
    height: 45px;
    cursor: pointer;
}

#results,
#results-table {
    background: #1A1A1A;
    padding:20px;
    margin-top: 30px;
    border-radius: 5px;
    display: none;
}

#results > p > span {
    color: #586ff0;
    font-weight: bold;
}

table{
    width: 100%;
    margin: auto;
    text-align: center;
}

table > thead > tr > th{
    padding-bottom: 10px;
}