@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #003268; 
  --secondary-color: #FF5D40; 
  --primary-color-hover: #00295B;
  --secondary-color-hover: #E93F24;
}

body {
   background-color: var(--primary-color);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  background-color: var(--secondary-color);
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  transition: transform .3s ease-in-out;
}

header.hide {
  transform: translateY(-100%);
}

header label {
  margin-right: 10px;
  font-size: 20px;
}

header select {
  outline: 0;
  border: none;
  padding: 5px;
  border-radius: 3px;
  font-size: 20px;
  width: 150px;
}

header select option {
  background-color: var(--primary-color);
  color: white;
  padding: 15px;
}

button {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
  font-size: 20px;
  transform: scale(1);
  transition: transform .1s ease;
}

.cog-button {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

button:hover {
  background-color: var(--secondary-color-hover);
}

button:active {
  transform: scale(0.9);
}

.container {
  position: relative;
  text-align: center;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  width: 600px;
  height: 300px;
  border-radius: 3px;
  border: 1px solid var(--primary-color-hover);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  background-color: var(--primary-color-hover);
  width: inherit;
  margin: 0;
  padding: 10px;
  top: 0;
  position: absolute;
}

.random-word {
  font-size: 40px;
  font-weight: bold;
  color: var(--secondary-color);
  margin-top: 45px;
}

.word-writting {
  margin-top: 20px;
  padding: 10px;
  width: 80%;
  outline: 0;
  border-radius: 3px;
  border: none;
  font-size: 18px;
}

.timer {
  position: absolute;
  top: 65px;
  left: 20px;
}

.score {
  position: absolute;
  top: 65px;
  right: 20px;
}

#game-over {
  display: none;
  background-color: var(--primary-color-hover);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

#game-over button {
  margin-top: 40px;
}

.definition {
  margin-top: 10px;
}
