* {
  padding: 0;
  margin: 0;
  color: white
}

body{
  background-color: #B2D5F5;
  font-family: Arial, Helvetica, sans-serif;
}


.form{
  margin-top: 3% !important;
  max-width: 70%;
  margin: auto;
  text-align: center;
  border-radius: 3px;
  background-color: #398DDB;
  padding: 20px 0px;
  box-shadow: 3px 3px 10px #50585E;
}

.form .form-item {
  padding: 20px 0px;
}

small {
  color:rgb(189, 182, 182);
}

button {
  padding: 10px 15px;
  background-color: #183B5C;
  border: none;
  border-radius: 3px;
}

input {
  color: #2C6CA8;
  padding: 10px;
  border-radius: 3px;
  border: none;
}