@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');

:root {
  --background-showcase:  rgba(0, 0, 0, 0.2);
  --border-radius-panel: 5px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  background-color: rgb(24, 24, 41);
  color: white;
}

h2 {
  margin: 0;
}

.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.movie-picker {
  margin: 10px;
  margin-bottom: 30px;
}

.movie-picker select {
  font-size: 19px;
  margin-left: 5px;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: var(--border-radius-panel);
}

.showcase {
  background-color: var(--background-showcase);
  width: 400px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: var(--border-radius-panel);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.showcase-seat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase small {
  margin-left: 10px;
}

.seats {
  display: flex;
}

.seats .row:nth-child(2),
.seats .row:nth-child(6) {
  margin-right: 15px;
}

.seat {
  width: 25px;
  height: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: black;
  margin-left:10px;
  margin-bottom:10px;
  transform: scale(1);
  transition: transform 0.2s ease;
}

.seat:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.seat.occupied:hover {
  cursor: auto;
  transform: scale(1);
}

.seat.occupied {
  background-color: white;
}

.seat.selected {
  background-color: rgb(43, 202, 230);
}

.panel-total {
  background-color: var(--background-showcase);
  margin-top: 30px;
  width: 200px;
  padding: 10px 20px;
  border-radius: var(--border-radius-panel);
  text-align: center;
}

#total {
  font-weight: bold;
}
