@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: rgb(236, 236, 236);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

header textarea {
  margin-top: 20px;
  font-size: 20px;
  border:  none;
  resize: none;
  background-color: transparent;
  text-align: center;
  outline: 0;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(219, 227, 235);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  box-shadow: 1px 1px 30px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}